body {
    font-family: "Lucida Grande",arial,helvetica,sans-serif;
    font-size: 12px;
    margin: 0px;    
}

form {
    margin: 0px;
}

label {
    display: inline-block;
    width: 110px;
    padding:5px 0px;
}

div.banner{
   position: relative;
   height:80px; 
   width:1020px;
   padding-top: 10px;
   text-align: right;
   font-size: 14px;
   color: #686868;  
}

div.banner a {
   color: #686868;
}

div.main {
    position: relative;
    width:1250px;
}

div.content {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0px 30px 60px #BBBBBB;
    float: left;
    min-height: 780px;
    overflow: hidden;
    padding: 30px;
    position: relative;
    text-align: left;
    width: 950px;
    z-index: 2;
}
div.page-msg {
    color:green;
    text-align: center;
    width:100%;
    min-height: 20px;
    
}
div.page-msg.error {
    color:red;
}

input.error, textarea.error, select.error {
    border: 2px solid #990000;
}

label.error {
   color:#ff0000; 
}

div.im_message {
   display:inline-block;
   color:#007C00;
   font-size:13px;
   font-weight:normal; 
}

div.im_message.error {
    color:#ff0000;
}

img {
    border: 0 none;
    vertical-align: middle;
}
a {
    cursor: pointer;
    text-decoration: none;
}

div.sidebar {
    float: left;
    padding-top: 10px;
    padding-left: 20px;
    position: relative;
    width: 200px;
    z-index: 1;
}
div.sidebar h1 {
    color: #233F99;
    font-size: 18px;
}
div.sidebar ul {
    list-style: none outside none;
    margin: 0 0 10px;
    padding: 0;
}
div.sidebar li.collapsed ul {
    display: none;
}
div.sidebar ul li ul, div.sidebar ul li ul li ul {
    margin-bottom: 0;
}
div.sidebar ul li a {
    background-color: #EBECED;
    /*background: url("../images/arrow-blue-collapsed.png") no-repeat scroll 10px 50% #EBECED;*/
    border-radius: 10px 10px 10px 10px;
    color: #000000;
    display: block;
    font-size: 13px;
    margin-bottom: 1px;
    min-height: 14px;
    padding: 5px 10px 5px 22px;
    width: 150px;
}

div.sidebar ul li.collapsible > a {
    background: url("../images/arrow-blue-collapsed.png") no-repeat scroll 10px 50% #EBECED;
}

div.sidebar ul li.active > a, div.sidebar ul li ul li ul li.active > a {
    background-color: #233F99;
}

div.sidebar ul li ul li a {
    background-color: #EBECED;
    padding: 5px 10px 5px 37px;
    width: 135px;
}

div.sidebar ul li ul li ul li a {
    background-color: #EBECED;
    padding: 5px 10px 5px 52px;
    width: 120px;
}

div.sidebar ul li.active > a, div.sidebar ul li ul li.active > a, div.sidebar ul li ul li ul li.active > a {
    color: white;
}

div.buttons {
    text-align: right;
    padding-right: 50px;
}

table.selectable {
    border-spacing: 0;
    width: 100%;
}

table.selectable th, table.selectable td, table.config-table td{
    border-left: 1px solid #fafafa;
    border-right: 1px solid #b2b2b2;
    font-family: "Lucida Grande",arial,helvetica,sans-serif;
    font-size: 11px;
    padding: 5px;
}

table.selectable td {
    background: none repeat scroll 0 0 #ededee;
    border-top: 4px solid #ffffff;  
}

table.selectable th {
    background: -moz-linear-gradient(center top , #eeeeef, #c7c8ca) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -ms-linear-gradient(top, #eeeeef, #c7c8ca);
    background: -webkit-gradient(linear, left top, left bottom, from(#eeeeef),to(#c7c8ca));
	-pie-background: linear-gradient(top,  #eeeeef,  #c7c8ca);
    text-align: center;
    border-top: 2px solid #eeeeef;
    padding: 10px 5px;
    min-height: 25px;
}

table.selectable td:last-child,  table.selectable th:last-child, table.config-table td:last-child{
    border-right: 0 solid #ffffff;
}

table.selectable tr.selected td {
    background: -moz-linear-gradient(center top , #9ca9d1, #9ca9d1 30%, #ebecf1) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -ms-linear-gradient(top, #9ca9d1, #ebecf1);
    background: -webkit-gradient(linear, left top, left bottom, from(#9ca9d1), to(#ebecf1));
}

div.priority_button {
    background: -moz-linear-gradient(center top , #ffffff, #ffffff 30%, #9fabd2) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -ms-linear-gradient(top, #ffffff, #9fabd2);
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#9fabd2));
    border-radius: 6px;
    display: block;
    padding: 3px 6px;
    position: relative;
    width: 100px;
}


.entryTable .label {
    display: inline-block;
    width: 150px;
}

.entryTable .input {
    display: inline-block;
    width: 500px;
    padding: 5px;
}

.entryTable input, .entryTable select {
    width: 300px;
}

.buttonDiv {
    padding-left: 250px;
}

a.button, input.button {
    background: -moz-linear-gradient(top, #ffffff, #bfc1c3);
    background: -ms-linear-gradient(top, #ffffff, #bfc1c3);
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#bfc1c3));
    -pie-background: linear-gradient(top,  #ffffff,  #bfc1c3);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 10px #AAAAAA;
    color: #575757;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    margin: 2px 0px 2px 2px;
    min-width: 65px;
    padding: 5px;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 1px #FFFFFF;
    border: 0 none;
}

a.button:hover, input.button:hover {
    text-decoration: none;
    background: #B2E0F9;
    background: -moz-linear-gradient(top, #ffffff, #B2E0F9);
    background: -ms-linear-gradient(top, #ffffff, #B2E0F9);
	background: -webkit-gradient(linear,               left top, left bottom, from(#ffffff), to(#B2E0F9));
    -pie-background: linear-gradient(top,  #ffffff,  #B2E0F9);   
}

a.button.disabled, input.button.disabled {
  color: #c0c0c0;
  background: #bfc1c3;
  background: -moz-linear-gradient(top, #bfc1c3, #ffffff);
  background: -ms-linear-gradient(top, #bfc1c3, #ffffff);
  background: -webkit-gradient(linear, left top, left bottom, from(#bfc1c3), to(#ffffff));
  -pie-background: linear-gradient(top,  #bfc1c3,  #ffffff);
}

.data-table .edit, .data-table .delete{
    padding: 0 5px;
    color: blue;
}

.data-table td {
    vertical-align: top;
}